h1{
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
 
}
h2{
  font-family: 'Fascinate', cursive;
}
label{
  font-family: 'Open Sans', sans-serif;
}
p{
  font-family: 'Open Sans', sans-serif;
}
.container {
  display        : flex;
  align-items    : center;
  justify-content: center;
}
body{
  background-color: white;
}
.column {
  display       : flex;
  flex-direction: column;
}

.add-text {
  position  : relative;
  width     : 600px;
  height    : 70px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.add-text input {
  width        : 100%;
  height       : 100%;
  padding-right: 80px;
  padding-left: 15px;
}

.add-text button {
  position        : absolute;
  width           : fit-content;
  padding         : 0 20px;
  height          : 100%;
  right           : 0;
  top             : 0;
  border          : 0;
  background-color: rgba(133, 210, 233);
  color           : white;
}

.container_table {
  width           : 600px;
  overflow        : auto;
  background-color: rgb(133, 210, 233);
  border-radius   : 10px;
  text-align      : center;
  position        : relative;
  padding         : 20px;
  display         : flex;
  align-items     : center;
  justify-content : center;
  margin-top      : 10vh;
  margin-right    : 50px;
}

.container_table--row {
  background-color: rgb(133, 210, 233);
  padding         : 20px;
  border-radius   : 10px;
  height          : 500px;
  width           : 600px;
  overflow        : auto;
}

.content-row {
  display      : flex;
  align-items  : center;
  text-align   : left;
  margin-bottom: 10px;
  margin-top   : 25px;
}

.input-label {
  margin-left: 10px;
  font-size  : 20px;
}

.input-check {
  width : 25px;
  height: 25px;
}

.eliminar{
  border: 0;
  background-color: white;
  color: black;
  border-radius: 4px;
  margin-right: 10px;
  margin-left: 20px;
}


.editar{
  border: 0;
  background-color: white;
  color: black;
  border-radius: 4px;
}